.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 1rem;
    margin: 0 auto;
  }
  
  .gradientText0 {
    background: -webkit-linear-gradient(#bfa3da, #84309c, #c735b0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .gradientText1 {
    background: -webkit-linear-gradient(#a79af9, #7aa8d2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .gradientText2 {
    background: -webkit-linear-gradient(#bfa3da, #743f93);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .gradientText3 {
    background: -webkit-linear-gradient(#c35ab1, #e9a8d9);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
    text-decoration-color: #84309c;
  }
  
  .title {
    line-height: 1.15;
    font-size: 4rem;
  }
  
  .title,
  .description {
    text-align: left;
  }
  
  .connect {
    margin-bottom: 2rem;
  }
  
  .description {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    font-size: 1.5rem;
  }
  
  .code {
    background: #555;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 1.1rem;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    max-width: 440px;
    margin: 0 auto;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .button {
    min-width: 260px;
    max-width: 360px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    gap: 0.5rem;
    background-color: #f0f0f0;
  }
  
  .input {
    min-width: 260px;
    max-width: 360px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    gap: 0.5rem;
  }
  
  .grid {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .card {
    background-color: #131313;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 440px;
    overflow: none;
    border: none;
  }
  
  .cardText {
    padding: 1rem;
  }
  
  .card img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px 4px 0 0;
    margin-bottom: 12px;
    border: none;
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    background-color: #272c34;
    opacity: 80%;
  }
  
  .card h2 {
    margin: 0 0 0.75rem 0;
  }
  
  .card p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.75;
  }
  
  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }
  
  @media (max-width: 768px) {
    .header {
      margin-left: 0;
    }
    .grid {
      width: 100%;
      flex-direction: column;
    }
    .title {
      font-size: 3rem;
      line-height: 1.15;
    }
  }
  
  .card,
  .footer {
    border-color: #222;
  }
  .logo img {
    filter: invert(1);
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #555;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto;
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
  .button {
    background-color: #cc33d7;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #7400b3;
  }
  
  .button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .buttonLogo {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }

  .addressContainer {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #3d3d3d;
    text-align: center;
    font-size: 16px;
  }
  
  .addressContainer h3 {
    margin-top: 0;
    color: #000000;
    margin-bottom: 10px;
  }
  
  .addressContainer p {
    margin: 0;
    word-break: break-all;
  }

  .exploreWalletButton {
    background-color: #007bff;
    color: white;
    border: none;
  }

  .exploreWalletButton:hover {
    background-color: #0056b3;
  }

  .greyButton {
    background-color: #6c757d;
    color: white;
    border: none;
  }

  .greyButton:hover {
    background-color: #5a6268;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
